
@media screen and (max-width: 799px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
    body{
        background-color: #FBF7D9;
    }
    header{
        height: 5em;
        width: auto;
        background-color: #F0D22D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        justify-content: center;
        background-color: aqua;
    
    }
    h4{
        background-color: lightgrey;
        width: 100%;
        color: black;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
    
    }
    article{
        border: 1px solid black;
        border-radius: 10px;
        
        height: 100%;
        padding: 5px;
        background-color: white;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    img.portada{
        margin: 5px;
        object-fit: cover;
        max-width: 500px;
        width: 100%;
        height: auto;
        border: 1px solid blue;
    }
    div{
        margin: 10px;
        height: 100%;
        width: 75%;
        
        display: flex;
        text-align: justify;
        flex-direction: column;
        align-items: center;
        
    }
    img.logo{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    button{
        background-color: #F0D22D;
        border-radius: 10px;
        width: 100%;
        height: auto;
        font-size: xx-large;
    }
}
@media screen and (min-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
    body{
        background-color: #FBF7D9;
    }
    header{
        height: 12em;
        width: auto;
        background-color: #F0D22D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        justify-content: center;
        background-color: aqua;
    
    }
    h4{
        background-color: lightgrey;
        width: 100%;
        color: black;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
    
    }
    article{
        border: 1px solid black;
        border-radius: 10px;
        height: 100%;
        padding: 5px;
        background-color: white;
        margin: 10px;
        display: flex;
        
        
        
    }
    img.portada{
        margin: 5px;
        object-fit: cover;
        max-width: 750px;
        width: 100%;
        height: auto;
        border: 1px solid blue;
    }
    div{
        margin: 10px;
        height: 100%;
        width: 75%;
        
        /* display: flex;
        text-align: justify;
        flex-direction: column;
        justify-content: baseline; */
        
    }
    img.logo{
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    button{
        background-color: #F0D22D;
        border-radius: 10px;
        width: 100%;
        height: auto;
        font-size: xx-large;
    }
}
