
@media screen and (max-width: 799px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
    body{
        background-color: #FBF7D9;
    }
    header{
        height: 5em;
        width: auto;
        background-color: #F0D22D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        justify-content: center;
        background-color: aqua;
    
    }
    h4{
        background-color: lightgrey;
        width: 100%;
        color: black;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
    
    }
    img.logo{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    article{
        display: flex;
        
    }
    table{
        margin: 10px;
        width: 100%;
        background-color: #F0D22D;
    }
    th{
        width: 100px;
        border: solid black 1px;
        border-radius: 5px;
        background-color: white;
    }
    table{
        border: solid black 5px;
        border-radius: 5px;
        
    }
    
    div{
        border: solid black 1px;
        border-radius: 10px;
        height: 75px;
        margin: 5px;
        padding: 5px;
        background-color: white;
    }
}
@media screen and (min-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
    body{
        background-color: #FBF7D9;
    }
    header{
        height: 12em;
        width: auto;
        background-color: #F0D22D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        justify-content: center;
        background-color: aqua;
    
    }
    h4{
        background-color: lightgrey;
        width: 100%;
        color: black;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
    
    }
    img.logo{
        max-width: 500px;
        width: 100%;
        height: auto;
    }
    article{
        display: flex;

    }
    table{
        margin: 10px;
        width: 100%;
        background-color: #F0D22D;
    }
    th{
        width: 100px;
        border: solid black 1px;
        border-radius: 10px;
        background-color: white;
    }
    table{
        border: solid black 5px;
        border-radius: 10px;
        
        
    }
    
    div{
        border: solid black 1px;
        border-radius: 10px;
        height: 100px;
        
        padding: 5px;
        background-color: white;
    }
}
